.card {
    
    display:flex;
    flex-wrap:wrap;
    flex:0 0 auto;
    overflow-x:auto;
    
}

.cardImage {
    width:300px;
    height:300px;
    /*object-fit:cover;*/
    border-radius: 9px;
    margin-bottom: 10px
}
.list {
    margin:30px;
    flex-direction: column;
    
    display:flex;

    
    
    
}
h3 {
    text-align:center;
}

.btn {
    margin:10px;
    
}